
.calender-container {
    font-family: var(--paragraph-font);
}

caption {
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--heading-font);
}

.room-one {
    display: auto;
}

.room-two {
    display: none;
}

.room-three {
    display: none;
}

.day {
    height: 3rem;
    width: 3rem;
    background-color: #ebe3e3;
    border-radius: 3px;
    
    text-align: center;
}

.booked {
    background-color: var(--boathousered);
    color: #401f1e;
}
