
.calender-container {
    font-family: var(--paragraph-font);
}

.calender {
    background-color: var(--light);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.calender tr:first-child {
    background-color: var(--seaweedgreen);
    color: var(--dark);
    border-radius: 5px;
}

tr th {
    height: 2.5rem;
    border-radius: 3px;
}

caption {
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--heading-font);
}

.room-one {
    display: block;
}

.room-two {
    display: none;
}

.room-three {
    display: none;
}

.day {
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 3px;
    
    text-align: center;
}

.booked {
    background-color: var(--boathousered);
    color: #401f1e;
}
