/* === GET TRANSFER CODE === */
#transfercode-section {
    scroll-margin-top: 7rem;
}

.get-transfercode-container {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#transfercode-form {
    display: none;
    justify-content: center;
}

#transfercode-form form {
    position: relative;
    margin-top: 2rem;
}

#transfercode-form input,
#transfercode-form input[type='number'] {
    height: 40px;
    width: 150px;
}

#transfercode-form button {
    margin-top: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #767676;
    background-color: var(--oceanblue);
    width: 40px;
    height: 40px;
}

.transfercode-response {
    margin-top: 2rem;
    font-family: var(--paragraph-font);
    position: relative;
}

.transfercode-response label {
    display: block;
    font-weight: 600;
}

.copy-text {
    width: auto;
    height: 40px;

    padding: 0.5rem;
    margin-top: 0;

    border-radius: 2px;
    background-color: var(--oceanblue);
}

/* === BOOKING FORM === */

#booking-form {
    margin-top: 3rem;
    justify-self: center;
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 50px;
}

#booking-form span {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#booking-form span div {
    display: flex;
    flex-direction: column;
}

input, select {
    font-family: var(--paragraph-font);
    cursor: pointer;
}

input[type="text"], input[type="date"], select {
    height: 2.5rem;
    width: 200px;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    accent-color: var(--sunsetyellow);
    cursor: pointer;
}

.feature-choice {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.features-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}