:root {
    --boathousered: #6d3433;
    --dark-red: #401f1e;
    --westcoastblue: #638496;
    --oceanblue: #102835;
    --seaweedgreen: #6d726b;
    --granitegrey: #a8a19b;
    --light: #e6e5ea;
    --dark: #27241f;
    --paragraph-font: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --heading-font: 'La Belle Aurore';
}

* {
    margin: 0;
    box-sizing: border-box;
    size: 16px;
}

body {
    background-color: var(--light);
}

/* === FONTS === */
p, a, form, button {
    font-family: var(--paragraph-font);
}

h2 {
    font-family: var(--paragraph-font);
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.subheading {
    font-weight: 600
}

/* === LINKS AND BUTTONS === */
button {
    width: 200px;
    padding: 1rem;
    margin-top: 2rem;
    align-self: center;

    background-color: var(--boathousered);
    color: var(--light);
    border: none;

    cursor: pointer;
}

header {
    background-color: var(--westcoastblue);
    color: var(--light);
    height: 120px;
    width: 100vw;
    padding: 10px;

    align-content: center;
    text-align: left;
    font-family: var(--heading-font);

    position: fixed;
    z-index: 99;
}

header img {
    max-height: 90%;
}

.hero-img {
    background-image: linear-gradient(to bottom, #000000b5, #27241f78), url('/assets/images/Gemini_Generated_Image_7wj0c27wj0c27wj0.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.hero-img img {
    max-height: 40%;
}

.show-room-info {
    justify-self: center;
    margin-bottom: 20px;
}

.room-calender {
    min-height: 400px;
    display: flex;
}

.room-calender span:first-child{
    background-color: var(--oceanblue);
    width: 50vw;
}

.room-calender span:nth-child(2){
    background-color: var(--granitegrey);
    width: 50vw;
    padding: 20px;
    align-content: center;
    justify-items: center;
}

/* === FORMS === */

#booking-form {
    margin-top: 3rem;
    justify-self: center;
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 50px;
    border: 5px double var(--westcoastblue);
    border-radius: 15px;
}

#booking-form span {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#booking-form span div {
    display: flex;
    flex-direction: column;
}

input, select {
    font-family: var(--paragraph-font);
    cursor: pointer;
}

input[type="text"], input[type="date"], select {
    height: 2.5rem;
    width: 200px;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    accent-color: var(--westcoastblue);
    cursor: pointer;
}

.feature-choice {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.features-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}


/* === FOOTER === */

footer {
    background-color: var(--oceanblue);
    color: var(--light);
    height: 30vh;
    margin-top: 3rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--light);
    text-decoration: none;
}

footer img {
    max-height: 100px;
    width: fit-content;
}