/* LOGIN PAGE */
.body-login {
    background-color: var(--boathousered-dark);
}

.login-section {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light);
    align-items: center;
}

.login-section h2 {
    margin-top: 0;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section form div {
    display: flex;
    gap: 2rem;
}

.login-section span {
    display: flex;
    flex-direction: column;
}

.login-section input {
    height: 40px;
    width: 200px;
    margin-bottom: 2rem;
}

.body-login footer {
    margin-top: 0;
}

/* ADMIN PAGE */
.admin-hero-img {
    height: 50vh;
    background-image: linear-gradient(to bottom, #000000a1, #000000c9), url("/assets/images/Gemini_Generated_Image_7wj0c27wj0c27wj0.jpg");
    background-size: cover;
    background-position: center;
    color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-info-container {
    margin: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    font-family: var(--paragraph-font);
}

.info-wrapper {
    padding: 1rem;

    background-color: var(--vanilla);
    border: 2px solid var(--sandygrey);
    border-radius: 5px;
}

.hotel-info {
    grid-column: 1 / 5;

    display: flex;
    justify-content: space-evenly;
}

.bookings {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
}

.features-info {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.update-room-price {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.update-feature-price {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}