/* === ROOM PRESENTATION AND CALENDER BLOCK === */
.room-information-grid {
    border-bottom: 5px solid var(--oceanblue);
}

.room-information-row {
    display: flex;
}

.room-information-wrapper {
    width: 50vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-information-wrapper p {
    width: 80%;
    text-align: center;
    justify-self: center;
}

.choose-room-wrapper {
    background-color: var(--granitegrey);
}

.choose-room-wrapper select {
    margin-top: 2rem;
}

.availability-wrapper {
    background-color: var(--sandygrey);
}

.img-slideshow-wrapper {
    padding: 0;
}

.room-description-wrapper {
    background-color: var(--vanilla);
}

.img-slideshow-wrapper .slideshow-container {
    margin-top: 0;
    width: 50vw;
}

.room-description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.budget {
    display: flex;
}

.standard, .luxury {
    display: none;
}


/* --- IMG SLIDESHOW ---*/
.slideshow-container {
    margin-top: 1rem;
    position: relative;
}

.slides {
    display: none;
}

.slides-img-container {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
}

.slides-img-container img {
    width: 100%;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1rem;
    color: var(--vanilla);
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* FADING ANIMATION */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}