/* === ROOM PRESENTATION AND CALENDER BLOCK === */
.room-info {
    flex-direction: column;
    align-items: center;
    justify-self: center;
    
    padding: 50px;
    border-top: 5px solid var(--granitegrey);

    background: var(--vanilla);
    color: var(--dark);
    text-align: center;
}

.room-info p {
    max-width: 45%;
}

.budget {
    display: flex;
}

.standard, .luxury {
    display: none;
}

.room-calender {
    min-height: 400px;
    display: flex;
}

.room-calender span:first-child{
    width: 50vw;
    background-color: var(--granitegrey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-calender span:nth-child(2){
    background-color: var(--sandygrey);
    width: 50vw;
    padding: 20px;
    align-content: center;
    justify-items: center;
}

.room-presentation {
    margin: 50px;
    max-width: 700px;
    position: relative;
}

.slides {
    display: none;
}

.img-container {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
}

.img-container img {
    width: 100%;
        object-fit: cover;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        margin-top: -22px;
        padding: 1rem;
        color: var(--vanilla);
        /* font-weight: bold; */
        font-size: 1.5rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .progress {
        color: var(--vanilla);
        font-family: sans-serif;
        font-size: 1rem;
        /* padding: 8px 12px; */
        position: absolute;
        bottom: 1rem;
        left: 50%;
    }

    /* FADING ANIMATION */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}